doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='description' content='')
  meta(name='author' content='Kelsey R Florek')
  title AMD - Hackathon
  // Favicon
  link(rel='icon' type='image/x-icon' href='assets/img/favicon.ico')
  // Font Awesome icons (free version)
  script(src='https://use.fontawesome.com/releases/v5.13.0/js/all.js' crossorigin='anonymous')
  // Google fonts
  link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic' rel='stylesheet' type='text/css')
  // Core theme CSS (includes Bootstrap)
  link(href='css/styles.css' rel='stylesheet')
  // CAPTCHA
  script(src="https://www.google.com/recaptcha/api.js?render="+siteKey)

// Navigation
nav#mainNav.navbar.navbar-expand-lg.bg-secondary.text-uppercase.fixed-top
  .container
    a.navbar-brand.js-scroll-trigger(href='#page-top') AMD Hackathon
    button.navbar-toggler.navbar-toggler-right.text-uppercase.font-weight-bold.bg-primary.text-white.rounded(type='button' data-toggle='collapse' data-target='#navbarResponsive' aria-controls='navbarResponsive' aria-expanded='false' aria-label='Toggle navigation')
      | Menu 
      i.fas.fa-bars
    #navbarResponsive.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.mx-0.mx-lg-1
          .mx-auto(data-toggle='modal' data-target='#signup') 
            a.nav-link.py-3.px-0.px-lg-3.rounded.js-scroll-trigger(href='#') Sign Up
// Masthead
header.masthead.bg-primary.text-white.text-center
  .container.d-flex.align-items-center.flex-column
    // Masthead Avatar Image
    img.masthead-avatar.mb-5(src='assets/img/avataaars.svg' alt='')
    // Masthead Heading
    h1.masthead-heading.text-uppercase.mb-0 Binfo Scavenger Hunt
    // Icon Divider
    .divider-custom.divider-light
      .divider-custom-line
      .divider-custom-icon
        i.fas.fa-dna
      .divider-custom-line
    // Masthead Subheading
    p.masthead-subheading.font-weight-light.mb-0 Answer Questions - Get Points - Win Prizes
// Portfolio Section
section#portfolio.page-section.portfolio
  .container
    // Portfolio Section Heading
    h2.page-section-heading.text-center.text-uppercase.text-secondary.mb-0 Questions
    // Icon Divider
    .divider-custom
      .divider-custom-line
      .divider-custom-icon
        i.fas.fa-dna
      .divider-custom-line
    // Portfolio Grid Items
    .row
      // Portfolio Item 1
      .col-md-6.col-lg-4.mb-5
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal1')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='assets/img/portfolio/cabin.png' alt='')
      // Portfolio Item 2
      .col-md-6.col-lg-4.mb-5
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal2')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='assets/img/portfolio/cake.png' alt='')
      // Portfolio Item 3
      .col-md-6.col-lg-4.mb-5
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal3')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='assets/img/portfolio/circus.png' alt='')
      // Portfolio Item 4
      .col-md-6.col-lg-4.mb-5.mb-lg-0
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal4')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='assets/img/portfolio/game.png' alt='')
      // Portfolio Item 5
      .col-md-6.col-lg-4.mb-5.mb-md-0
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal5')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='assets/img/portfolio/safe.png' alt='')
      // Portfolio Item 6
      .col-md-6.col-lg-4
        .portfolio-item.mx-auto(data-toggle='modal' data-target='#portfolioModal6')
          .portfolio-item-caption.d-flex.align-items-center.justify-content-center.h-100.w-100
            .portfolio-item-caption-content.text-center.text-white
              i.fas.fa-plus.fa-3x
          img.img-fluid(src='assets/img/portfolio/submarine.png' alt='')
// Footer
footer.footer.text-center
  .container
    .row
      // Footer Location
      .col-lg-4.mb-5.mb-lg-0
        h4.text-uppercase.mb-4 AMD Conference
        p.lead.mb-0 Link to Conference Website
      // Footer Social Icons
      .col-lg-4.mb-5.mb-lg-0
        h4.text-uppercase.mb-4 Social Media
        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
          i.fab.fa-fw.fa-facebook-f
        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
          i.fab.fa-fw.fa-twitter
        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
          i.fab.fa-fw.fa-linkedin-in
        a.btn.btn-outline-light.btn-social.mx-1(href='#!')
          i.fab.fa-fw.fa-dribbble
      // Footer About Text
      .col-lg-4
        h4.text-uppercase.mb-4 About AMD Hackathon
        p.lead.mb-0
          | The AMD Hackathon is designed to challenge your bioinformatics skills by pushing teams to work together creatively to solve bioinformatics problems while attending the virtual conference.
// Copyright Section
.copyright.py-4.text-center.text-white
  .container
    small Copyright &copy; AMD Hackathon 2020
// Scroll to Top Button (Only visible on small and extra-small screen sizes)
.scroll-to-top.d-lg-none.position-fixed
  a.js-scroll-trigger.d-block.text-center.text-white.rounded(href='#page-top')
    i.fa.fa-chevron-up

// Sign up form
#signup.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='signupLabel' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container
          .row.justify-content-center
            .col-lg-8
              // Portfolio Modal - Title
              h2#signupLabel.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Hackathon </br>Sign Up
              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-icon
                  i.fas.fa-dna
                .divider-custom-line
              // Signup Form
              form.form-horizontal(id='signupForm' action='/signup')
                .form-label-group
                  label(for='teamName')
                    h4 Team Name
                  input.form-control(name='teamName' type='text' placeholder='Team Name' required='' autofocus='')
                br
                .form-label-group
                  label(for='contactEmail') 
                    h4 Contact Email
                  input.form-control(name='contactEmail' type='email' placeholder='Email address' required='')
                br
                .form-label-group
                  label(for='teamMembers') 
                    h4 Team Members
                  textarea.form-control(name='teamMembers' type='text' placeholder='Jane Smith\nJohn Smith' required='')
                br
                button.btn.btn-primary(name='signupsubmit' type='submit') Submit
              br
              #signupMsg.h5

// Portfolio Modals
// Portfolio Modal 1
#portfolioModal1.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal1Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container
          .row.justify-content-center
            .col-lg-8
              // Portfolio Modal - Title
              h2#portfolioModal1Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Log Cabin
              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-icon
                  i.fas.fa-dna
                .divider-custom-line
              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cabin.png' alt='')
              // Portfolio Modal - Text
              p.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
              button.btn.btn-primary(data-dismiss='modal')
                i.fas.fa-times.fa-fw
                | Close Window
// Portfolio Modal 2
//-#portfolioModal2.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal2Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container
          .row.justify-content-center
            .col-lg-8
              // Portfolio Modal - Title
              h2#portfolioModal2Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Tasty Cake
              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-icon
                  i.fas.fa-dna
                .divider-custom-line
              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5(src='assets/img/portfolio/cake.png' alt='')
              // Portfolio Modal - Text
              p.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
              button.btn.btn-primary(data-dismiss='modal')
                i.fas.fa-times.fa-fw
                | Close Window
// Portfolio Modal 3
//-#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal3Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container
          .row.justify-content-center
            .col-lg-8
              // Portfolio Modal - Title
              h2#portfolioModal3Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Circus Tent
              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-icon
                  i.fas.fa-dna
                .divider-custom-line
              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5(src='assets/img/portfolio/circus.png' alt='')
              // Portfolio Modal - Text
              p.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
              button.btn.btn-primary(data-dismiss='modal')
                i.fas.fa-times.fa-fw
                | Close Window
// Portfolio Modal 4
//-#portfolioModal4.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal4Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container
          .row.justify-content-center
            .col-lg-8
              // Portfolio Modal - Title
              h2#portfolioModal4Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Controller
              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-icon
                  i.fas.fa-dna
                .divider-custom-line
              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5(src='assets/img/portfolio/game.png' alt='')
              // Portfolio Modal - Text
              p.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
              button.btn.btn-primary(data-dismiss='modal')
                i.fas.fa-times.fa-fw
                | Close Window
// Portfolio Modal 5
//-#portfolioModal5.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal5Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container
          .row.justify-content-center
            .col-lg-8
              // Portfolio Modal - Title
              h2#portfolioModal5Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Locked Safe
              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-icon
                  i.fas.fa-dna
                .divider-custom-line
              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5(src='assets/img/portfolio/safe.png' alt='')
              // Portfolio Modal - Text
              p.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
              button.btn.btn-primary(data-dismiss='modal')
                i.fas.fa-times.fa-fw
                | Close Window
// Portfolio Modal 6
//-#portfolioModal6.portfolio-modal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='portfolioModal6Label' aria-hidden='true')
  .modal-dialog.modal-xl(role='document')
    .modal-content
      button.close(type='button' data-dismiss='modal' aria-label='Close')
        span(aria-hidden='true')
          i.fas.fa-times
      .modal-body.text-center
        .container
          .row.justify-content-center
            .col-lg-8
              // Portfolio Modal - Title
              h2#portfolioModal6Label.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Submarine
              // Icon Divider
              .divider-custom
                .divider-custom-line
                .divider-custom-icon
                  i.fas.fa-dna
                .divider-custom-line
              // Portfolio Modal - Image
              img.img-fluid.rounded.mb-5(src='assets/img/portfolio/submarine.png' alt='')
              // Portfolio Modal - Text
              p.mb-5
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque assumenda ipsam nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores, vitae? Reprehenderit soluta, eos quod consequuntur itaque. Nam.
              button.btn.btn-primary(data-dismiss='modal')
                i.fas.fa-times.fa-fw
                | Close Window
// Bootstrap core JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js')
// Core theme JS
script(src='js/scripts.js')
// Third party plugin JS
script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
//signup submission script
script.
  grecaptcha.ready(function() {
    $("#signupForm").on('submit',function(event){
      event.preventDefault(); // to prevent default page reloading
      grecaptcha.execute('#{siteKey}', {action: 'submit'})
        .then(function(token) {
          var dataString = $("#signupForm").serialize() + "&ctoken="+token; // to get the form data
          var url = $("#signupForm").attr('action');
          console.log(dataString);
          $.ajax({
            type: "POST",
            url: url,
            data: dataString,
            success: function(data){
              if(data.success){
                $('#signupForm')[0].reset(); // to reset form data
                $('#signupMsg').html(data.message);
              }
              else{
                $('#signupMsg').html(data.message);
              }
            }
          })
        });
    });
  });
